@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #006400;
  --secondary-color: #228b22;
  --accent-color: #32cd32;
  --background-color: #f0fff0;
  --text-color: #006400;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  background-image: url('img/layered-waves-haikei2.svg'); /* El SVG como fondo */
  background-size: cover; /* Asegura que cubra todo el fondo */
  background-position: bottom; /* Fija el SVG en la parte inferior */
  background-repeat: no-repeat; /* Evita que se repita el SVG */
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.3s ease;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}


#Descubre:hover {
  transform: scale(1.05);
}

#sao {
  position: absolute;
  margin-top: 8px;
  margin-left: -150px;
  transform: rotate(-15deg);
  width: 250px;
}

#sao:hover {
  transform: translateY(-1px);
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  position: relative;
  font-size: 1.5em;
}

.question:hover {
  transform: translateY(-5px);
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option {
  flex-basis: calc(50% - 10px);
  margin: 8px 0;
  padding: 15px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  color: white;
  font-size: 1.2em;
}

.option:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.selected {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.época {
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 15px;
  margin-bottom: 10px;
}

#result {
  text-align: center;
  font-size: 1.5em;
  padding: 30px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
  margin-top: 20px;
  animation: fadeIn 0.5s ease;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#progress {
  width: 0%;
  height: 20px;
  background-color: var(--accent-color);
  border-radius: 15px;
  transition: width 0.5s ease;
}

.hidden {
  display: none;
}

#restart-button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

#restart-button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.small-restart {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.small-restart:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 10px;
    max-width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  .question {
    font-size: 1.2em;
  }

  .option {
    flex-basis: 100%;
    font-size: 1em;
    margin: 5px 0;
  }

  #sao {
    width: 150px;
    margin-left: -100px;
  }

  #result {
    font-size: 1.2em;
    padding: 20px;
  }

  #restart-button {
    font-size: 1em;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }

  .question {
    padding: 15px;
    font-size: 1em;
  }

  .option {
    font-size: 0.9em;
    padding: 10px;
  }

  #sao {
    width: 120px;
    margin-left: -80px;
    margin-top: 5px;
  }

  #result {
    font-size: 1em;
  }

  #restart-button {
    font-size: 0.9em;
  }
}
